* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #cef2ed, #0a6e61);
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-input {
  border: none;
  font-size: 1.5rem;
  max-width: 40%;
  padding: 0.2em;
}

.add-button {
  color: red;
  border: none;
  font-size: 1.5rem;
  padding: 0.2em;
  background-color: white;
  cursor: pointer;
}

.add-button:hover {
  border: none;
  /* font-size: 1.rem; */
  /* opacity: 0.5; */
  color: white;
  background-color: red;
}

.fa-plus-square {
  pointer-events: none;
}

.todolist-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.todo-list {
  list-style: none;
}

.todo {
  display: flex;
  background: white;
  min-width: 20vh;
  margin-top: 5px;
}
.todo-item {
  flex: 1;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  transition: all 0.6s;
}

.trashed-button,
.checked-button {
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.checked-button {
  background: rgb(114, 241, 82);
  width: 20px;
}

.trashed-button {
  background: red;
  color: white;
  width: 20px;
}

.checked-button:hover {
  background: #000;
  color: rgb(114, 241, 82);
}

.trashed-button:hover {
  background: white;
  color: red;
  width: 20px;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.3;
}

.fall {
  transform: translateY(100px) rotateZ(40deg);
  transition: all 0.3s;
  opacity: 0.2;
}

.select {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
